@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Space+Grotesk:wght@300..700&display=swap');
:root{
    --color-red:#ff8c5f;
    --color-yellow:#ffd670;
    --color-green:#acdeaa;
    --color-blue:#cddfed;
    --color-pink:#fad7dc;
    --color-secondary:#b63969;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-pink);
    font-family: "Space Grotesk", sans-serif;
    display: flex;
}
.head{
    width: 83%;
    padding: 10px;
}
.cuerpo{
    padding: 10px;
    width: 17%;
    display: inline-block;
}
button .tarea{
    display: inline-block;  
    margin-right: 30px;
}
.title{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    background-color: white;
    width: 400px;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    
}
.cardTask{
    background-color: white;
    min-height: 800px;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.container {
    position: relative; /* necesario para que el pin se posicione dentro de este contenedor */
    margin: 10px;
    background-color:var(--color-pink);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    width: 210px;
    height: 210px;
    padding: 10px;
    transition: .3s;
}
.container:nth-child(3n) {
    transform: rotate(2deg);
}
.container:nth-child(4n) {
    transform: rotate(-3deg);
}
.container:nth-child(5n) {
    transform: rotate(1deg);
}
.container:nth-child(6n) {
    transform: rotate(-2deg);
}.container:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.container .pin {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 25px;
    transform: rotate(20deg);
}
p.fecha{
    margin-top: 50px;
    margin-bottom: 5px;
}
/* ---FORMULARIO--- */
.formAnnadir {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 80px auto;
    background-color:white;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  }
 input, textarea{
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #aaa;
    outline: none;
  }
  .formAnnadir button {
    padding: 10px;
    font-size: 1rem;
    background-color:var(--color-pink);
    border: none;
    cursor: pointer;
    transition: .2s;
    font-weight: 600;
    border-radius: 10px;
  }
  .formAnnadir button:hover {
    background-color:var(--color-secondary);
    transform: scale(1.05);
    color: white;
  }
  select{
    padding: 10px;
    font-size: 1rem;
    background-color:white;
    border: 1px solid #aaa;
    cursor: pointer;
    transition: .2s;
    
  }
 div.buttons{
    margin-top: 10px;
    display: flex;
    justify-content: right;
    gap: 10px;
 }
 div.buttons button{
    background-color: transparent;
    color: black;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    
 }
 